main {
  background-color: white;
  padding: 3rem 0;
}

.about-main-inner-container {
  margin: 0 auto;
}


.about-section-top {
  display: grid;
  grid-auto-flow: column;
  gap: 4rem;

}

.about-section-top-left p:nth-child(2) {
  width: 85%;
}

.about-us-h2 {
  padding: 0;
  text-align: left;
  font-size: 4rem;
}

.about-section-bottom {
  padding-top: 3rem;
  justify-content: space-between;
}

.about-section-bottom img {
  max-width: 45%;
}