.contact-container {
  padding: 1.5rem 0;
  background-color: white;
}

.contact-inner-container {
  width: 85%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 700;
}

.form-input-container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  align-items: center;
  margin-bottom: 1.5rem;
}

.form-input-container input {
  padding: .4rem .5rem;
}


.form-textarea {
  display: flex;
  flex-direction: column;
}

.form-textarea textarea {
  width: auto;
  height: 200px;
  margin-bottom: 1rem;
  padding: .5rem;
}

.form-textarea label {
  margin-bottom: .5rem;
}

.form-checkbox-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  gap: 1rem;
}

.form-checkbox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding-bottom: .5rem;
}

.form-submit-btn {
  padding: .8rem 1rem;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
}

.form-submit-btn:hover,
.form-submit-btn:focus {
  outline: none;
  background-color: rgba(0, 0, 0, .85);
  padding: .5rem 1rem;
}

.form-submit-btn:focus {
  border-bottom: 3px solid blue;
}

input[type='text']:focus,
textarea:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid blue;
}

textarea:focus {
  border-top: 1px solid blue;
}

input[type='checkbox']:focus {
  outline: none;
}

.form-checkbox:focus-within {
  outline: none;
  border-bottom: 1px solid blue;
}

@media screen and (min-width: 768px) {
  .contact-inner-container {
    width: 750px;
    margin-bottom: 1rem;
  }

  .form-input-container {
    grid-template-columns: 1fr 5fr;
  }

  .form-textarea textarea {
    width: 750px;
  }

  .form-checkbox-and-button {
    flex-direction: row;
    gap: 3rem;
  }

  .form-submit-btn {
    padding: .5rem .7rem;
    font-size: 1rem;
  }
}