.team-container {
  background-color: white;
  /* width: 100vw; */
  min-height: 70vh;
  padding: 2rem 0;
}

.team-inner-container {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin: 0 auto;
}
