footer {
  /* position: absolute; */
  /* bottom: 0; */
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
}

.footer-inner-container {
  font-size: .8rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-link-container {
  display: flex;
  gap: .5rem;
}

.footer-link-container>* {
  cursor: pointer;  
}