.footer {
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
}

.footer-absolute-bottom {
  position: absolute;
  bottom: 0;
}

.footer-inner-container {
  font-size: .9rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.footer-link-container {
  display: flex;
  gap: .5rem;
}

.footer-link-container>* {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer-inner-container {
    padding: 0;
  }
}