header {
  background-color: white;
  margin-bottom: -5px;
}

.hero-image {
  width: 100vw;
  height: 30vh;
  object-fit: cover;
}

.hero-title {
  padding: 2rem;
  font-size: 3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-title {
    padding: 2rem;
    font-size: 5rem;
  }
}