nav {
  position: absolute;
  top: 2rem;
  width: 100vw;
  height: 80px;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
}

.nav-elements-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

/* .nav-elements-container > a {
  text-decoration: none;
} */

.nav-links {
  text-decoration: none;
  color: black;
  cursor: pointer;
}