.nav-home {
  position: absolute;
  top: 2rem;
  width: 100vw;
  height: 80px;
  background: transparent;
  display: flex;
  gap: 2rem;
  z-index: 5;
  animation: loadMenu 1.5s;
}

.nav-home-elements-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem 0 2rem;
}

.nav-bar-visible {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  background-color: rgba(255, 255, 255, 1);
  z-index: 5;
}

.welcome-mobile-logo {
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  z-index: 3;
}


.black-font {
  color: black;
  -webkit-transition: color .1s;
  -moz-transition: color .1s;
  -ms-transition: color .1s;
  -o-transition: color .1s;
  transition: color .1s;

}

.nav-home-link-container {
  gap: 3rem;
  align-items: center;
}

.nav-home-links {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  padding: 8px 0;
}

.nav-home-links::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 2px solid white;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -ms-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}

.nav-home-links:hover::after {
  width: 50%;
}

/* ==== MOBILE ==== */

.nav-mobile-logo {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 700;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.nav-home-mobile-hamburger-container {
  cursor: pointer;
  margin: 1rem;
  position: relative;
  width: 3rem;
  height: 2rem;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.nav-home-mobile-hamburger-rod {
  display: block;
  position: absolute;
  height: .4rem;
  width: 100%;
  background-color: white;
  border-radius: .4rem;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 3;
}

.nav-home-mobile-hamburger-container span:nth-child(1) {
  top: 0;
}

.nav-home-mobile-hamburger-container span:nth-child(2) {
  top: .8rem;
}

.nav-home-mobile-hamburger-container span:nth-child(3) {
  top: 1.6rem;
}

.nav-home-mobile-hamburger-container.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 1rem;
  background-color: black;
}

.nav-home-mobile-hamburger-container.open span:nth-child(2) {
  transform: rotate(-405deg);
  top: 1rem;
  background-color: black;
}

.nav-home-mobile-hamburger-container.open span:nth-child(3) {
  transform: rotate(-45deg);
  opacity: 0;
  top: 1rem;
}

.mobile-sidemenu {
  position: absolute;
  top: -2rem;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
  transform: translateY(100%);
  -webkit-transition: transform .7s;
  -moz-transition: transform .7s;
  -ms-transition: transform .7s;
  -o-transition: transform .7s;
  transition: transform .7s;
  z-index: 2;
}


.mobile-sidemenu.visible {
  transform: translateY(0%);
}

.nav-home-sidemenu-links {
  opacity: 0;
  display: inline-block;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  padding: 1rem 0;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.nav-home-sidemenu-links.visible {
  opacity: 1;
}

.nav-home-sidemenu-links::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 2px solid white;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -ms-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}

.nav-home-sidemenu-links:hover::after {
  width: 25%;
}

@keyframes loadMenu {
  0% {
    transform: translateY(-120%);
  }

  30% {
    transform: translateY(-120%);
  }

  100% {
    transform: translateY(0%);
  }
}