.nav-home {
  position: absolute;
  top: 2rem;
  width: 100vw;
  height: 80px;
  gap: 2rem;
  background: transparent;
  display: flex;
}

.nav-home-elements-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* .nav-home-logo {
  text-decoration: none;
  color: white;
  font-size: 4rem;
  font-weight: 700;
} */

.nav-home-link-container {
  gap: 3rem;
  align-items: center;
}

.nav-home-links {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  padding: 8px 0;
}

.nav-home-links::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 2px solid white;
  transition: width .3s;
}

.nav-home-links:hover::after {
  width: 50%;
}
