nav {
  position: absolute;
  top: 2rem;
  width: 100vw;
  height: 80px;
  gap: 2rem;
  /* background-color: rgba(255, 255, 255, 0.8); */
  display: flex;
}

.nav-elements-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
}

.white-bg {
  background-color: rgba(255, 255, 255, 1);
}

.nav-logo {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
}

.nav-link-container {
  gap: 3rem;
}

.nav-links {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  padding: 8px 0;
}

.nav-links::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 2px solid black;
  transition: width .3s;
}

.nav-links:hover::after {
  width: 50%;
}

/* ==== MOBILE ==== */

.nav-mobile-logo {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-mobile-hamburger-container {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  cursor: pointer;
  margin: 1rem;
  position: relative;
  width: 3rem;
  height: 2rem;
}

.hamburger-rod {
  display: block;
  position: absolute;
  height: .4rem;
  width: 100%;
  background-color: black;
  border-radius: .4rem;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.nav-mobile-hamburger-container span:nth-child(1) {
  top: 0;
}

.nav-mobile-hamburger-container span:nth-child(2) {
  top: .8rem;
}

.nav-mobile-hamburger-container span:nth-child(3) {
  top: 1.6rem;
}

.nav-mobile-hamburger-container.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 1rem;
  /* background-color: rgb(73, 73, 152); */
}

.nav-mobile-hamburger-container.open span:nth-child(2) {
  transform: rotate(-405deg);
  top: 1rem;
  /* background-color: rgb(73, 73, 152); */
}

.nav-mobile-hamburger-container.open span:nth-child(3) {
  transform: rotat(-45deg);
  opacity: 0;
  top: 1rem;
}

.mobile-sidemenu {
  position: absolute;
  top: -2rem;
  background-color: black;
  width: 100vw;
  height: 100vh;
  transition: all .3s;
  transform: translateY(-100%);
  z-index: 2;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.mobile-sidemenu.visible {
  transform: translateY(0%);
}

.nav-sidemenu-links {
  display: inline-block;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  padding: 1rem 0;
}

.nav-sidemenu-links::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 2px solid white;
  transition: width .3s;
}

.nav-sidemenu-links:hover::after {
  width: 25%;
}

/* overflow hidden to app-copntainer */
.no-scroll {
  overflow: hidden;
}