* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

.app-container {
  background: url(./assets/images/welcome-page-city-skyline.jpeg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.container {
  max-width: 1000px;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

